Block_2/obj/Debug Block_3/obj/Debug Block_4/obj/Block_4.csproj.nuget.dgspec.json Block_4/obj/Block_4.csproj.nuget.g.props Block_4/obj/Block_4.csproj.nuget.g.targets Block_4/obj/Debug Block_4/obj/project.assets.json Block_4/obj/project.nuget.cache Lab_1_v_3/obj/Debug V13/obj/Debug V13/obj/project.assets.json V13/obj/project.nuget.cache V13/obj/V13.csproj.nuget.dgspec.json V13/obj/V13.csproj.nuget.g.props V13/obj/V13.csproj.nuget.g.targets
Block_2/bin/Debug Block_3/bin/Debug Block_4/bin/Debug Lab_1_v_3/bin/Debug V13/bin/Debug
